.body{
    background-image: url("http://feelgrafix.com/data_images/out/1/729487-abstract-blue-background.jpg");
}
.container {
    width: 50%; margin: 0 auto;
}
.add-form {
    width: 50%; margin: 0 auto;
}
.jumbotrone {
    margin-top: 20px;
}
.course-info {
    text-align: center
}
.navbar {
    border-radius: 0px;
}