{% extends "courses/base.html" %}
{% block title %}{{ course.name }} by {{ course.teacher }}{% endblock %}
{% block content %}
{# Lecutres list #}
<div class="container" style="width: 50%; margin: 0 auto;">
    <div class="course-info " style="text-align: center">
        <div class="jumbotron" style="margin-top: 20px;">
            <h1>{{ course.name }}</h1>
            <img src="{{ course.course_logo }}" style="width: 110px; height: 110px;">
            <p> by {{ course.teacher }} </p>
        </div>
    </div>
    Lectures list:
    <ul class="list-group">
        {% for lecture in course.lecture_set.all %}
            <li class="list-group-item"><a href="{{ lecture.lecture_url }}/"> {{ lecture.lecture_name }} </a><span
                    class="badge">{{ lecture.file_type }}</span></li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
