{% extends "courses/base.html" %}
{% block title %}Courses List{% endblock %}
{% block content %}
{# Courses list #}
    {% if all_courses %}
        <div class="container">
            <div class="jumbotron">
                <h1> Courses List</h1>
                <p> Here you can see all available courses for you</p>
            </div>
            {% if error_msg %}
                <div class="alert-danger"> {{ error_msg }}</div>
            {% endif %}
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" >
                    {% for course in all_courses %}
                    <li class="list-group-item" style="height: 60px;">
                        <div class="col-md-3" >
                            <a href="{% url 'courses:course_info' course.id %}">{{ course.name }}</a>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-2">
                            {% if course.is_followed %}
                                <form action="{% url 'courses:un_follow' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-default pull-right"
                                            value="{{ forloop.counter }}"name="course">Unfollow</button>
                                </form>
                                {% else %}
                                    <form action="{% url 'courses:follow' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info pull-right"
                                            value="{{ forloop.counter }}"name="course">Follow</button>
                                </form>
                            {% endif %}
                        </div>
                        <div class="col-md-1">
                            <span class="badge pull-right">{{ course.lecture_set.count }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    {% else %}
        <h1> ERROR - you have no courses in DB </h1>
    {% endif %}
{% endblock content %}