{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Courses list #}
{% if all_courses %}
    <div class="container" style="width: 50%; margin: 0 auto;">
        <div class="jumbotron" style="margin-top: 20px;">
            <h1> Courses List</h1>
            <p> Here you can see all available courses for you</p>
        </div>
        <div class="" >
            <table class="table table-hover ">
                {% for course in all_courses %}
                <tr><td><a href="{{ course.id }}/"> {{ course.name }} </a></td><td><span
                                class="badge pull-right">{{ course.lecture_set.count }}</span></td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% else %}
<h1> ERROR - you have no courses in DB </h1>
{% endif %}